
<h1>¿Qué fotos te interesan?... Busca aquí...</h1>

<%= form_for(@photo, :url => "user") do |f| %>


<table>
	<tr>
		<td>Ingrese filtro:</td> 
		<td><%= f.text_field :machine_tags %></td>
	</tr>
	<tr>
		<td>Ingrese cantidad:</td> 
		<td><%= f.text_field :per_page %></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><%= f.submit "Buscar fotos" %></td>
	</tr>	
</table>

<% list = flickr.photos.search(:tags => @photo.machine_tags, :per_page => @photo.per_page) %>

<table>
  	<% list.each do |photo| %>
	<tr>			
		<td>			
		  	<% farm = photo.farm %>
		  	<% server = photo.server %>
		  	<% id = photo.id %>
		  	<% secret = photo.secret %>
		  	
		  	<img src="<%= 'http://farm' %><%=farm%><%= '.staticflickr.com/' %><%= server %><%= '/' %><%= id%><%= '_' %><%= secret %><%= '_m' %><%= '.jpg'%>" />			
		</td>
	</tr>
  	<% end %>	
</table>

<% end %>


<!--
Direcciones URL de origen de fotos
Fuente: http://www.flickr.com/services/api/misc.urls.html

http://farm1.staticflickr.com/2/1418878_1e92283336_m.jpg

farm-id: 1
server-id: 2
photo-id: 1418878
secret: 1e92283336
size: m
-->

